@model List<DoAn_WebsiteBanQuanAoTreEm.Models.LoaiQuanAo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage1.cshtml";
}
<div class="container my-4">
<h2>Danh sách chủ đề</h2>
<a href="/Admin/category/insert" class="btn btn-primary mb-3">Thêm chủ đề</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên chủ đề</th>
            <th>Xoá</th>
            <th>Sửa</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.tenLoai</td>
                <td>
                    <a href="/admin/category/delete/@product.maLoai" class="btn btn-warning">Xóa</a>
                </td>
                <td>
                    <a href="/admin/category/update/@product.maLoai" class="btn btn-warning">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

